@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Mono:wght@300;400&family=Roboto:wght@400;700&family=Space+Mono&display=swap");

* {
    font-family: "Raleway", sans-serif;
    margin: 0;
}

.name {
    font-size: small;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: 400;
}

.title {
    font-size: small;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.text-name {
    font-family: 400;
    text-transform: capitalize;
    font-size: small;
}

.text-small-cap {
    font-size: x-small;
    text-transform: uppercase;
}

.text-title {
    text-transform: capitalize;
    font-style: italic;
    font-size: small;
}

.text-bio {
    letter-spacing: 0.7px;
    line-height: 1.5rem;
}

.nav-text {
    font-size: large;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

/* removes border from toggler */
.navbar-toggler:focus,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* for placing button over an image */

/* Container needed to position the button. Adjust the width as needed */

/* Make the image responsive */

/* Style the button and place it in the middle of the container/image */

.relative .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #5959594e;
    color: white;
    font-size: 1rem;
    padding: 12px 24px;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
}

.img-fill {
    height: 100vh;
    object-fit: cover;
}