@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Mono:wght@300;400&family=Roboto:wght@400;700&family=Space+Mono&display=swap");

* {
    font-family: "Raleway", sans-serif;
    margin: 0;
}

.text-header-sm-400-spaced {
    /* .name */
    font-size: small;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: 400;
}

.text-header-sm-spaced {
    /* title */
    font-size: small;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.text-header-sm-400 {
    /* .name */
    font-size: small;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: 400;
}

.text-header-sm-600 {
    /* .name */
    font-size: small;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: 900;
}

.text-header-sm-cap-spaced {
    /* text-name */
    font-size: small;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.text-header-sm-italic {
    font-size: small;
    font-style: italic;
    text-transform: capitalize;
}

.text-header-sm {
    /* d */
    text-transform: capitalize;
    font-size: small;
}


.text-x-small-upper {
    /* d */
    font-size: x-small;
    text-transform: uppercase;
}

.text-body-sm-700 {
    font-size: small;
    font-weight: 700;
}

.text-body-sm {
    font-size: small;
}

.text-body-med-spaced {
    /* .text-bio */
    font-size: medium;
    letter-spacing: 0.7px;
    line-height: 1.5rem;
}

.nav-link {
    font-size: large;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

/* removes border from toggler */
.navbar-toggler:focus,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* for placing button over an image */

/* Container needed to position the button. Adjust the width as needed */

/* Make the image responsive */

/* Style the button and place it in the middle of the container/image */

.relative .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #5959594e;
    color: white;
    font-size: 1rem;
    padding: 12px 24px;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
}

.img-fit-vh {
    height: 100vh;
    object-fit: cover;
}